<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webpack Frontend Starterkit</title>
</head>

<body>
  <main class="page">
    <div class="page__wrapper">
      <div class="page__header">
        <header class="header">
          <!-- Header items -->
        </header>
      </div>
      <div class="page__inner">
        <!-- Some sections -->
      </div>
      <div class="page__footer">
        <footer class="footer">
          <!-- Footer items -->
        </footer>
      </div>
    </div>
  </main>
</body>

</html>